*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #F3F4F6;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.login-container,
.register-container {
    background: #fff;
    padding: 35px 30px;
    width: 360px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.form-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.login-container input,
.register-container input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    outline: none;
    background: #fafafa;
}

.login-container input:focus,
.register-container input:focus {
    border-color: #6c63ff;
    background: #fff;
}

.login-container label,
.register-container label {
    display: block;
    margin-top: 6px;
    font-size: 0.85rem;
    color: #333;
}

.login-email-field,
.login-password-field,
.first-name-field,
.last-name-field,
.register-name-field,
.register-email-field,
.register-password-field,
.register-file-field {
    margin-bottom: 18px;
}

.login-btn,
.register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #0d6efd;
    color: #fff;
}


.login-btn:hover,
.register-btn:hover {
    background: #0052cc;
}



.login-switch a,
.register-switch a {
    color: #6c63ff;
    font-weight: 500;
    text-decoration: none;
}

.login-switch a:hover,
.register-switch a:hover {
    text-decoration: underline;
}

.register-file-input {
    background: #fff;
    cursor: pointer;
}

.register-file-label {
    font-size: 0.85rem;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }
}
